.login-content{
    width: 100;
    padding: 5%;
    margin: auto;
}

.btn-login{

    background-color: #5A2800;
    color: #fff2db;
    margin: auto;
}

.btn-login:hover{
    background-color: #198754;
    color: #fff2db;
}

.opcoes-login a{
    text-decoration: none;
    color: #5A2800;
    transition: .3s ease-in;
    
}

.opcoes-login a:hover{
    text-decoration: none;
    color: #f21667;
    
}

.loginPag {
    padding-top: 8%;
}