.form-login{
    max-width: 650px;
}

.btn-cadastro{
    background-color: #5A2800 !important;
    color: #fff2db !important;
    margin: auto;
}

.btn-cadastro:hover{
    background-color: #198754 !important;
    color: #5A2800;
}

.cadastro-content{
    height: 100vh;
}