.navbar{
    background-image: url(https://static.tibia.com/images/global/content/newsheadline_background.gif);
    height: 28px;
}

.nav-item a{
    color: #fff;
    transition: .3s ease-in;
}

.nav-item a:hover{
    color: #F21667;
}